@model BLL.DTO.UserBasket

@inject BLL.Services.FilesService FS

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">Product</th>
                        <th scope="col">Available</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col" class="text-right">Price</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var good in Model.SelectedGoods)
                    {
                        <tr>
                            <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed" data-ajax-url="/UserBasket/Exclude">
                                <input type="hidden" name="goodId" value="@(good.Id)">
                                <td>
                                    <img src="@(FS.GetFileById(good.MainPhotoName).Result)" style="height: 50px; width: auto;"/>
                                </td>
                                <td>@(good.Name)</td>
                                <td>In stock</td>
                                <td>
                                    <input class="form-control" type="text" value="1" disabled/>
                                </td>
                                <td class="text-right">@($"{good.Price / 100},{good.Price % 100 :D2}")</td>
                                <td class="text-right">
                                    <button class="btn btn-sm btn-danger" type="submit">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </td>
                            </form>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <strong>Total</strong>
                        </td>
                        <td class="text-right">
                            @{
                                long sum = Model.SelectedGoods.Sum(e => e?.Price)??0;
                            }
                            <strong>@($"{sum / 100}, {sum % 100 :D2}")</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <a asp-action="Index" asp-controller="Home">
                        <button class="btn btn-block btn-light">Continue Shopping</button>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a asp-controller="Order" asp-action="Checkout">
                        <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>