@using WUI.Auth
@using Microsoft.AspNetCore.Identity
@model BLL.DTO.OrderDTO

@{
    Layout = "_Layout";
}

@inject BLL.Services.GoodsService _goods
@inject BLL.Services.UserService _userService
@inject UserManager<WebUser> _webUserManager


<div class="py-5 text-center">
    <h2>Checkout</h2>
    <p class="lead">Fill this form to place order.</p>
</div>

<div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Your cart</span>
            <span class="badge bg-primary rounded-pill">@Model.Goods?.Count</span>
        </h4>
        <ul class="list-group mb-3">
            @foreach (var item in Model?.Goods)
            {
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">@(item.Name)</h6>
                        <small class="text-muted">@($"{String.Join(' ', item.Description.Take(40))}...")</small>
                    </div>
                    <span class="text-muted">@($"{item.Price / 100}.{item.Price % 100 :D2}")</span>
                </li>
            }
            <li class="list-group-item d-flex justify-content-between">
                <span>Total price</span>
                @{
                    long total = (long)Model.Goods?.Sum(e => e.Price);
                }
                <strong>@($"{total / 100}.{total % 100 :D2}")</strong>
            </li>
        </ul>
    </div>
    @{
        string userName = User.Identity?.Name;
        var uuid =  _webUserManager?.Users.FirstOrDefault(e => e.UserName == userName);
        var uu = _userService.GetUserById((int)uuid?.UnderlyingUserId);
    }
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation" novalidate="">
            <div class="row g-3">
                <div class="col-sm-12">
                    <label for="firstName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="@(uu?.Name)" required="">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>


                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" value="@(uuid?.Email)">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="col-12">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" value="@(uu?.Address)" required>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

            </div>

            <hr class="my-4"><button class="w-100 btn btn-primary btn-lg" type="submit">Confirm checkout</button>
        </form>
    </div>
</div>