@model IEnumerable<BLL.DTO.GoodDTO>

@using WUI.HtmlHelpers
@using WUI.TagHelpers

@ModalButtonHtmlHelper.ButtonWithModal(Html, "/AdminPanel/AddGood", "Add good")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <modal-link url="/AdminPanel/EditGood/@(item.Id)" modal-id="#innerModalAdd">Edit</modal-link> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>