@model WUI.Auth.WebUserContext

<h1>Users</h1>

<p>
    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModalLong">Create New</button>
</p>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            Underlying UID
        </th>
        <th>
            Login
        </th>
        <th>
            E-Mail
        </th>
        <th>
            Email Confirmed
        </th>
        <th>
            Phone
        </th>
        <th>
            Login fails
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnderlyingUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                <a asp-action="EditUser" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{ await Html.RenderPartialAsync("CreateUser", new WUI.Auth.WebUser());}
            </div>
        </div>
    </div>
</div>